
.header{
    width:100%;
    position:fixed;
    background-color: #c53719;
    z-index:50;
    display:flex;
    justify-content: start;
    align-items: center;
    padding:15px 0px;
}

.header img{
    width:250px;
}



@media (max-width: 768px){
    .header{
        justify-content: center;
    }
    .header img{
        width:190px;
    }
}